body {
    background-color: #f7ecde;
    font-family: "PT Sans Caption", sans-serif;
}

h1 {
    font-size: 50px;
    font-family: "Pacifico", cursive;
    color: #352e28;
    isolation: isolate;
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #fec260;
    transition: height 0.5s;
    z-index: -1
}

h1:hover::after {
    height: 50%;
}

.content {
    border-top: 2px black dotted;
    border-bottom: 2px black dotted;

}

.content h2 {
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

label {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 600;
}

.content button {
    background-color: #d1512d;
}

.content button:hover {
    background-color: #a03315;
}

.form-control:focus {
    border-color: #d99c39 !important;
    box-shadow: 0 0 0 0.25rem #fec26055 !important;
}

a {
    text-decoration: none;
    color: #fff;
}

.a-visit {
    background-color: #9eb23b;

}

.a-visit:hover {
    background-color: #8a9e23!important;
}

.modal.fade .modal-dialog {
    transform: translate(0, 50%) !important;
}
.btn-close{
    --bs-btn-close-focus-shadow:none!important;
}
.modal-header{
    border-bottom: none;
    padding: 0;
}
.red{
    width: 20px;
    height: 20px;
    background-color: #f15f5d;
    border-radius:50% ;
}
.orange{
    width: 20px;
    height: 20px;
    background-color: #febe2e;
    border-radius:50% ;
}
.green{
    width: 20px;
    height: 20px;
    background-color: #4db748;
    border-radius:50% ;
}
.first-p{
    font-family: "Bree Serif", serif;
    font-size: 21px;
    line-height: 1.3;
    color: #352e28;
}
.btn-close{
    background-image: none;
    opacity: 1;
    margin: 0!important;

}
.btn-close:hover{
    opacity: 1;
}
ul li div{
    width: 20px;
    height: 20px;
    border: 2px solid #bb4120;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    color: #bb4120;
}
ul li p{
    font-size: 18px;
}
.modal-backdrop{
    display: none;
}
.modal-open{
    overflow-y:scroll!important;
    padding: 0!important;
}
.background{
    background-color: rgba(0,0,0,0.7);
}